<h1>WITAJ W POTĘŻNYM NARZĘDZIU SPAMMOWANIA DISCORDA</h1>
<h2>Wpisz tutaj token konta a zadzieje się magia</h2>
<form action="/login" method="post">
    Token <input type="text" name="token" id="token" required><br>
    Id kanału <input type="number" name="channelId" id="channelId" required><br>
    Treść wiadomości <input type="text" name="content" id="content" required><br>
    Ile razy ma naspamować<input type="number" name="repeats" id="repeats">
    <br><button type="submit">DALEJ</button><br>
    <h3>Po wpisaniu tego bedzie sie ładować długo, to po prostu tak ma byc, bot dziala.</h3>
</form>