<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <h1>DiscordSpammer</h1>
    <h2>Wprowadź dane:</h2>
    <form action="/login" method="post">
        Token <input type="text" name="token" id="token" required><br>
        Id kanału <input type="number" name="channelId" id="channelId" required><br>
        Treść wiadomości <input type="text" name="content" id="content" required><br>
        Ilość powtórzeń wiadomości<input type="number" name="repeats" id="repeats" required><br>
        Link z zaproszeniem(opcjonalne)<input type="text" name="invite" id="invite">
        <br>
        <button class="btn waves-effect waves-light" type="submit" name="action">Dalej</button>
          <br>
        <h3>Po wpisaniu tego bedzie sie ładować długo, to po prostu tak ma byc, bot dziala.</h3>
    </form>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>